.container{
    width: 100%;
    height: 100vh;
    background: url(./car\ 2.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;  
}
.container::before{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 10, 10, 0.8);
}
.logincontainer{
    width: 20%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 70%;
    position: absolute;
    top: 15%;
    left: 35%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 50px;
    border-radius: 20px ;
    box-shadow: 40px 40px 30px 30px rgba(34, 34, 34, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 18px;
    
}
.logincontainer::before{
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.8);
  border-radius: 20px;
}
#heading{
    margin-left: 25%;
    font-size: 40px;
    background-color: #f5b754;
    color: black;
    width: 117%;
    padding-bottom: 10px;
    position: relative;
    right: 42%;
    bottom: 5%;
    height: 13%;
    text-align: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
form{
  z-index: 1;
}
#checkbox{
    margin-right: 60px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
}
#checkbox input{
  margin-bottom: 10px;
}

.submit{
    display: flex;
    gap: 40px;
    align-items: center;
    margin-top: 60px;
    position: relative;
    bottom: 15%;
}
#login{
    border: 1px solid rgb(0, 0, 0);
    padding: 0px 20px 0px 20px;
    color: black;
    background-color: #f5b754;
    font-weight: 900;
    text-shadow: 1px 1px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#loginname:hover{
  background-color: white;
  transition: all 0.5s;
}
#loginpass:hover{
  background-color: white;
  transition: all 0.5s;
}
#login:hover{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-color: black;
    transition: all 1s;
}
#forgot{
    margin-top: 0px;
    color: blue;
}
#bottom{
    font-size: 16px;
    margin-left: 0px;
    position: relative;
    bottom: 9%;
}
#bottom a{
    text-decoration: none;
    color: blue;
    margin-left: 10px;
}
.submit a{
    text-decoration: none;
}
input{
    margin-top: 10px;
    border-radius: 5px;
    background-color: #000000;
    border: 2px solid rgb(103, 100, 100);
    /* width: 100%; */
}
.name{
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(54, 52, 52);
    z-index: 1;
    position: absolute;
    top: 21%;
    right: 17%;
    font-size: 64px;
    
}
.name i{
    font-size: 50px;
    
}
.des{
    color: rgb(0, 0, 0);
    z-index: 1;
    position: absolute;
    top: 12%;
    right: 26%;
    font-size: 29px;
}
.username{
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    width: 90%;
}
.pass{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    width: 90%;
}
#errname{
    color: red;
}
#errpass{
    color: red;
}

#bottomdiv{
  width: 117%;
  height: 15vh;
  background-color: #f5b754;
  position: relative;
  right: 16.5%;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}






/* Navbar  */


.sec1{
    height: 120vh;
    background: url(./car\ 4.jpg) no-repeat center center/cover;
      
      
      
     
  }
  body{
    position: relative;
    
    
  }
  body::before{
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
    
      background-color: rgba(0, 0, 0, 0.7);
  }
  
  
  
  
  
  
  
  
  /* Navbar  */
  
  .navbar{
      background-color: rgb(28, 27, 27);
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: white;
      height: 10%;
     position: absolute;
     left: 0;
     top: 0;
     width: 100%;
     border-radius: 0px 0px 90px 90px;
    }
    .navbar a{
      text-decoration: none;
      color: white;
    }
    .navbarContent{
      display: flex;
      gap: 40px;
      /* margin-left: 60px; */
    }
    .navbarContent li{
      list-style: none;
      font-size: 17px;
    }
    .navbarContent a{
      text-decoration: none;
      color: white;
    }
    .navbarContent li:hover{
      color: #f5b754;
    }
    #v{
      color: #f5b754 ;
    }
    .logo{
      font-size: 35px;
      text-shadow: 5px 3px rgb(26, 26, 26);
      
    }
    #callIcon{
      border: 1px solid #ffffff ;
      border-radius: 50%;
      padding: 15px;
      font-size: 25px;
      color: #f5b754;
    }
    #callIcon:hover {
      background-color: #f5b754;
      color: black;
      border: none;
    }
    #contact{
      display: flex;
      align-items: center;
      gap: 15px;
      /* margin-left: 60px; */
    } 
  #number{
    font-size: 18px;
  }
  #signupbtn{
    text-decoration: none;
    color: white;
    
  }
  #userInfo{
    padding-right:10px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  #userIcon{
    font-size: 20px;
    color: #f5b754;
  }#userInfo p{
    font-size: 16px;
    color: #ffffff;
  }
  #signupbtn{
     border: 1px solid #ffffff ;
     border-radius: 70px;
    
  }
  #signupbtn:hover{
    background-color: #f5b754;
    border: none;
  }
  #signupbtn:hover #userIcon  {
    color: #000000;
  }
  #signupbtn:hover #loginBtn {
    color: #000000;
  } 
  #newLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid white;
    padding: 0px 15px 0px 15px;
    border-radius: 50px;
  }
  #newLogin:hover{
    background-color: #f5b754;
    border: none;
    color: black;
  }
  
  
         /* Sign Up Form  */
  
  #signUp{
    position: absolute;
    top: 12%;
    left: 27%;
    width: 40%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(34, 32, 32);
    box-shadow: 40px 40px 30px 30px rgba(22, 20, 20, 0.5);
  }
  #signUp form{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* gap: 30px; */
    width: 70%;
    background-color: rgb(34, 32, 32);
    height: 60vh;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 18px;
    margin-top: 60px;
  }
  .name{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
  }
  .email{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
  }
  .num{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
  }
  .pass{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
  }
  .cpass{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
  }
  .heading{
    background-color: #f5b754;
    padding: 20px;
    margin-bottom: 20px;
    position: absolute;
    width: 93%;
    bottom: 87%;
    border-radius: 20px 20px 0px 0px;
    text-align: center;
    font-weight: 900;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
    
  }
  input{
    border: 1px solid black;
    border-radius: 10px;
    background-color: #4c4747;
    height: 24px;
  }
  #submit{
    
    background-color: #f5b754;
    padding: 15px 15px 35px 15px;
    border-radius: 90px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: 20px;
    margin-top: 20px;
  }
  .signIn{
    margin-top: 130px;
    color: white;
    font-size: 15px;
  }
  .signIn a{
    text-decoration: none;
    color: blue;
  }
  form p{
    color: red;
  }