body{
    background: url(./car\ 4.jpg) no-repeat center center/cover;
    height: 130vh;  
    position: relative; 
}
body::before{
    content: ''; /* Necessary to make the pseudo-element appear */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
}

#display{
    position: absolute;
    top: 7%;
    left: 10%;
    border-radius: 40px 40px 20px 20px;
    color: rgb(224, 211, 211);
    background-color: #1f1f1f;
}
#display tr{
    background-color: black;
}
#display #th{
    border-top-left-radius: 30px;
}
#display #lastTh{
    border-top-right-radius: 30px;
}

#inpsearch {
    position: absolute;
    top: 2%;
    left: 43%;
    padding: 5px 20px 5px 20px;
}


/* Form  */

form{
    position: absolute;
    top: 33%;
    left: 35%;
    background-color: #161515;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    border-radius: 20px;
    box-shadow: 40px 40px 5px 5px rgb(61, 61, 61);
}
form .container{
    display: flex;
    gap: 50px;
}
form h1{
    position:relative;
    left: 25%;
    color: #f5b754;
}
form .container input{
    border-radius: 30px;
    padding: 5px 10px 5px 10px;
}
form .container select{
    border-radius: 30px;
    padding: 5px 50px 5px 10px;
}
#upadditionalNote{
    /* margin-left: 100px; */
    padding: 5px 200px 5px 50px;
    border-radius: 30px;

}
#upchooseCar{
    padding-right: 80px;
}
#uppickDate{
    padding-right: 60px;
}
#upreturnDate{
    padding-right: 60px;
}
.rentNow{
    
    
    display: flex;
    justify-content: center;
}
#rentNow{
    background-color: #f5b754;
    padding: 10px 180px 10px 200px;
    border-radius: 30px;
    font-weight: 600;
}
#rentNow:hover{
    background-color: #f19808 ;
}